/* Google Font */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
margin:0;
padding:0;
box-sizing:border-box;
}

html{
scroll-behavior:smooth;
}

body{

font-family:'Poppins',sans-serif;

background:#07111f;

color:white;

overflow-x:hidden;

}

/* Scrollbar */

::-webkit-scrollbar{

width:10px;

}

::-webkit-scrollbar-track{

background:#08101d;

}

::-webkit-scrollbar-thumb{

background:#00d4ff;

border-radius:20px;

}

/* Selection */

::selection{

background:#00d4ff;

color:white;

}

/* Links */

a{

text-decoration:none;

color:inherit;

}

/* Images */

img{

max-width:100%;

display:block;

}

/* Buttons */

button{

font-family:inherit;

cursor:pointer;

border:none;

}

/* Section */

section{

padding:120px 8%;

position:relative;

}

/* Container */

.container{

max-width:1400px;

margin:auto;

}

/* Background */

body::before{

content:"";

position:fixed;

left:-300px;

top:-300px;

width:700px;

height:700px;

background:#00d4ff30;

filter:blur(180px);

z-index:-3;

animation:move1 12s linear infinite alternate;

}

body::after{

content:"";

position:fixed;

right:-300px;

bottom:-300px;

width:700px;

height:700px;

background:#6a5cff30;

filter:blur(180px);

z-index:-3;

animation:move2 12s linear infinite alternate;

}

@keyframes move1{

0%{

transform:translate(0,0);

}

100%{

transform:translate(180px,120px);

}

}

@keyframes move2{

0%{

transform:translate(0,0);

}

100%{

transform:translate(-180px,-120px);

}

}

/* Floating Animation */

@keyframes floating{

0%{

transform:translateY(0px);

}

50%{

transform:translateY(-15px);

}

100%{

transform:translateY(0px);

}

}

/* Fade */

.fade{

opacity:0;

transform:translateY(50px);

animation:fadeUp 1s forwards;

}

@keyframes fadeUp{

to{

opacity:1;

transform:translateY(0);

}

}

/* Glass */

.glass{

background:rgba(255,255,255,.08);

backdrop-filter:blur(18px);

border:1px solid rgba(255,255,255,.12);

box-shadow:

0 10px 40px rgba(0,0,0,.25);

border-radius:20px;

}

/* Gradient Text */

.gradient{

background:linear-gradient(
90deg,
#00d4ff,
#6a5cff,
#ffffff
);

-webkit-background-clip:text;

-webkit-text-fill-color:transparent;

}

/* Utility */

.flex{

display:flex;

align-items:center;

justify-content:center;

}

.grid{

display:grid;

gap:30px;

}

/* Responsive */

@media(max-width:992px){

section{

padding:90px 6%;

}

}

@media(max-width:768px){

section{

padding:80px 5%;

}

}